# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [12]:
x=3.0 
type(x)

float

In [13]:
y=5
type(y)

int

In [14]:
z=8
type(z)

int

In [15]:
a=12.0
type(a)

float

In [16]:
b=47
type(b)

int

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [29]:
Eylül=21
Efe=22
Naz= 23

In [31]:
Eylül>=Efe

False

In [32]:
Naz<=Eylül

False

In [33]:
Efe>=Eylül

True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [17]:
x=5
y=9

In [18]:
x+y

14

In [19]:
x-y

-4

In [20]:
x*y

45

In [21]:
x/y

0.5555555555555556

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [28]:
isim='Eylül'
yas=21
sehir='Ankara'
meslek='Öğrenci'

print(isim, yas, sehir, meslek)

Eylül 21 Ankara Öğrenci

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [4]:
x = 'Hi-Kod'
y = 'VeriBilimi'
z = 'Atölyesi'

In [9]:
x_buyuk = x.upper()
y_buyuk = y.upper()
z_buyuk = z.upper()

print(x_buyuk, y_buyuk, z_buyuk)

HI-KOD VERIBILIMI ATÖLYESI

In [11]:
x_kucuk = x.lower()
y_kucuk = y.lower()
z_kucuk = z.lower()

print(x_kucuk, y_kucuk, z_kucuk)

hi-kod veribilimi atölyesi